.rinnYrPMvt{border-radius : 7px;background-color : #cce4ff ; border :  1px Solid #7138e3 ; padding-top : 8px ; padding-left : 25px; padding-right : 31px ;padding-bottom : 7px;}
.rinnYrPMvt:hover{background-color :#d6c9f1 }.DgZqmXRCAK{border-radius : 13px;background-color : #cce4ff ; border :  1px Solid #020006 ; padding-top : 9px ; padding-left : 19px; padding-right : 15px ;padding-bottom : 8px;}
.DgZqmXRCAK:hover{background-color :#d6c9f1 }* {
  box-sizing: border-box;
}

.left {
  background-color: #2196F3;
  padding: 20px;
  float: left;
  width: 20%; /* The width is 20%, by default */
}

.main {
  background-color: #f1f1f1;
  padding: 20px;
  float: left;
  width: 60%; /* The width is 60%, by default */
}

.right {
  background-color: #04AA6D;
  padding: 20px;
  float: left;
  width: 20%; /* The width is 20%, by default */
}

/* Use a media query to add a break point at 800px: */
@media screen and (max-width: 800px) {
  .left, .main, .right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}* {
  box-sizing: border-box;
}

.left2{
  background-color: #2196F3;
  padding: 20px;
  float: left;
  width: 20%; /* The width is 20%, by default */
}

.main2 {
  background-color: #f1f1f1;
  padding: 20px;
  float: left;
  width: 60%; /* The width is 60%, by default */
}

.right2 {
  background-color: #04AA6D;
  padding: 20px;
  float: left;
  width: 20%; /* The width is 20%, by default */
}

@media screen and (max-width: 800px) {
  .left2, .main2, .right2 {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}* {
  box-sizing: border-box;
}

.left2{
  background-color: #2196F3;
  padding: 20px;
  float: left;
  width: 20%; /* The width is 20%, by default */
}

.main2 {
  background-color: #f1f1f1;
  padding: 20px;
  float: left;
  width: 60%; /* The width is 60%, by default */
}

.right2 {
  background-color: #04AA6D;
  padding: 20px;
  float: left;
  width: 20%; /* The width is 20%, by default */
}

@media screen and (max-width: 800px) {
  .left2, .main2, .right2 {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* two equal-width columns */
  gap: 20px; /* gap between columns */
}

/* On mobile, switch to single column layout */
@media screen and (max-width: 480px) {
  .grid-container {
    grid-template-columns: 1fr; /* one column */
  }
}

.grid-item {
  background-color: #ddd;
  padding: 20px;
}

.item1 {
  grid-column: 1 / 2; /* span first column */
}

.item2 {
  grid-column: 2 / 3; /* span second column */
}.grid-containerr {
  display: grid;
  grid-template-columns: 1fr 1fr; /* two equal-width columns */
  gap: 20px; /* gap between columns */
}

/* On mobile, switch to single column layout */
@media screen and (max-width: 480px) {
  .grid-containerr {
     grid-template-rows: 1fr; /* set row height */
  grid-template-columns: repeat(2, 1fr); 
  }
}

.grid-item {
  background-color: #ddd;
  padding: 20px;
}

.item1 {
  grid-column: 1 / 2; /* span first column */
}

.item2 {
  grid-column: 2 / 3; /* span second column */
}.grid-containerr {
  display: grid;
  grid-template-columns: 1fr 1fr; /* two equal-width columns */
  gap: 20px; /* gap between columns */
}

/* On mobile, switch to single column layout */
@media screen and (max-width: 480px) {
  .grid-containerr {
     grid-template-rows: 1fr; /* set row height */
  grid-template-columns: repeat(2, 1fr); 
  }
}

.grid-item {
  background-color: #ddd;
  padding: 20px;
}

.item1 {
  grid-column: 1 / 2; /* span first column */
}

.item2 {
  grid-column: 2 / 3; /* span second column */
}