.gyYetLFLBG{border-radius : 8px;background-color : #cce4ff ; border :  3px Solid #d6c9f1 ; padding-top : 0px ; padding-left : 0px; padding-right : 0px ;padding-bottom : 0px;}
.gyYetLFLBG:hover{background-color :#d6c9f1 }
@media (max-width: 600px) {
    .divColor{
        background-color: blue;
    }
}.prime{
background-color : red;
}.dDaxXaABkF{border-radius : 0px;background-color : #cce4ff ; border :  0px Solid #d6c9f1 ; padding-top : 0px ; padding-left : 0px; padding-right : 0px ;padding-bottom : 0px;}
.dDaxXaABkF:hover{background-color :#d6c9f1 }.NnwwmKXKMK{border-radius : 0px;background-color : #cce4ff ; border :  0px Solid #d6c9f1 ; padding-top : 0px ; padding-left : 0px; padding-right : 0px ;padding-bottom : 0px;}
.NnwwmKXKMK:hover{background-color :#d6c9f1 }.vbxERgkzDO{border-radius : 0px;background-color : #7fd9d1 ; border :  0px Solid #d6c9f1 ; padding-top : 8px ; padding-left : 31px; padding-right : 30px ;padding-bottom : 9px;}
.vbxERgkzDO:hover{background-color :#7fd9d1 }.HhVZYXdEzj{border-radius : 6px;background-color : #7fd9d1 ; border :  0px Solid #d6c9f1 ; padding-top : 8px ; padding-left : 24px; padding-right : 23px ;padding-bottom : 6px;}
.HhVZYXdEzj:hover{background-color :#7fd9d1 }.pYvqQLJuIa{border-radius : 20px;background-color : #7fd9d1 ; border :  0px Solid #d6c9f1 ; padding-top : 7px ; padding-left : 15px; padding-right : 16px ;padding-bottom : 5px;}
.pYvqQLJuIa:hover{background-color :#7fd9d1 }.rinnYrPMvt{border-radius : 7px;background-color : #cce4ff ; border :  1px Solid #7138e3 ; padding-top : 8px ; padding-left : 25px; padding-right : 31px ;padding-bottom : 7px;}
.rinnYrPMvt:hover{background-color :#d6c9f1 }